<div class="page align-items-center d-flex flex-column justify-content-center">
  <div>
    <h2>{{title}}</h2>
    <p>You are using the most robust and concise express.js server starter kit. All of the things are covered via Gulp
      4.
      <small><i>(P.S. I'm a Big fan of Gulp)</i></small></p>
    <p>Just run <code>npm i</code> then <code>gulp dev</code> and you will have a server running</p>
    <p>It have the following preconfigured
      libraries and tools:</p>
    <ol>
      <li>Server Stack
        <ol>
          <li>TypeScript</li>
          <li>Express.js</li>
          <li>MongoDB</li>
          <li>Mongoose - ORM</li>
        </ol>
      </li>
      <br>
      <li>Build System
        <ol>
          <li>Gulp 4</li>
          <li>Sass</li>
          <li>PM2</li>
          <li>Browser-Sync</li>
        </ol>
      </li>
    </ol>
  </div>
</div>